@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    background-image: url(../assets/the-road-in-the-city-e1679026670267.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.header-violet{
    background-color: rgba(38, 27, 131, 0.5);
    height: calc(95vh - 80px);
    width: 100%;
}